@import '../../libs/variables'

.c-profile

    display flex
    align-items top
    padding 10px

    .photo
        margin-right 20px
        margin-bottom 10px
        width dimensionOfPicture
        height dimensionOfPicture
        background-size cover
        background-repeat no-repeat
        background-position center
        box-shadow imageShadow
        border 2px solid titleFontColor
        border-radius borderRadius

    h1
        margin-bottom 0.1em
        font-family titleFont
        font-size nameOfAthleteFontSize
        color titleFontColor
    ul
        margin 0
        padding-left 0
        font-family bodyFont

    li
        list-style none