@import '../../libs/variables'

.home
    background-color #FAFBFC
    color bodyFontColor
    max-width 600px
    margin 50 auto
    padding 5px 20px
    box-shadow 5px 5px 10px 0 #EBECF0
    border 1px solid #EBECF0

.buttons
    padding-top 10px
    font-family bodyFont

.btn-default:hover
    color bodyFontColor

.btn-default
    color bodyFontColor

.tabtitle
    font-family titleFont
    color titleFontColor
    font-size tabsFontSize
    position relative
