@import '../../libs/variables'

.c-hints
    margin sectionMargin
    
    thead
        font-family titleFont
        font-size 0.8*labelFontSize
        font-weight bold
        color titleFontColor

    tbody
        font-family bodyFont
        font-size 0.9em
        color bodyFontColor

    .score
        width 25%

