homeBorderColor =  #EBECF0

titleFont = "Josefin Sans", Helvetica, sans-serif
titleFontColor = #344563

nameOfAthleteFontSize = 2.5em
tabsFontSize = 1.8em
labelFontSize = 1.6em

bodyFont = "Lato", Helvetica, sans-serif
bodyFontColor = #42526e
 
minSkillBorderColor = red
minSkillBackgroundColor = #F08080

maxSkillBorderColor = green
maxSkillBackgroundColor = #90EE90

borderRadius = 50%
dimensionOfPicture = 120px
imageShadow = 3px 3px 20px -3px gray

sectionMargin = 10px 0px 5px